# DS-SF-36 | 14 | Trees | Codealong | Starter Code

In [2]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import math

## Part A | The 2008 Democratic Primaries

(dataset adapted from http://www.stat.ucla.edu/~cocteau/primaries.csv)

In [3]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-14-2008-democrat-primaries.csv'))

In [4]:
df.columns

Index([u'fips', u'county_name', u'state_postal', u'region', u'election_date',
       u'racetype', u'tvotes', u'clinton', u'obama', u'edwards', u'margin',
       u'winner', u'POP05_SQMI', u'popUnder30_00', u'pop65up_00',
       u'presVote04', u'kerry04', u'Bush04', u'pres04margin', u'pres04winner',
       u'pop06', u'pop00', u'hisp06', u'white06', u'black06', u'indian06',
       u'asian06', u'hawaii06', u'mixed06', u'pct_less_30k', u'pct_more_100k',
       u'pct_hs_grad', u'pct_labor_force', u'pct_homeowner', u'unempFeb07',
       u'unempFeb08', u'unempChg', u'pctUnins00', u'subForPctHomes',
       u'poverty05', u'median_hhi05', u'Catholic', u'So.Bapt.Conv',
       u'Un.Methodist', u'E.L.C.A.', u'Construction', u'Manufacturing',
       u'FinancialActivities', u'GoodsProducing', u'ServiceProviding'],
      dtype='object')

In [19]:
# TODO
df.winner.value_counts(dropna = False)
df['c'] = (df.winner == 'obama') *1.
df['c']

0       1.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
2256    0.0
2257    1.0
2258    1.0
2259    1.0
2260    0.0
Name: c, Length: 2261, dtype: float64

### First cut: Is a county more than 20% black?

In [29]:
# TODO
df['pct_black06'] = df.black06/df.pop06

#### First cut/right node

In [30]:
# TODO
parent_df = df

In [33]:
left_child_df= parent_df[parent_df.pct_black06 < 0.2]
left_child_df

,fips,county_name,state_postal,region,election_date,...,FinancialActivities,GoodsProducing,ServiceProviding,c,pct_black06
0,1001,Autauga,AL,S,2/5/08,...,5.366229,26.776236,73.223764,1.0,0.172109
1,1003,Baldwin,AL,S,2/5/08,...,7.923872,21.282357,78.717643,0.0,0.096363
4,1009,Blount,AL,S,2/5/08,...,4.300316,34.129339,65.870661,0.0,0.015451
7,1015,Calhoun,AL,S,2/5/08,...,3.544540,24.312853,75.687147,0.0,0.196434
9,1019,Cherokee,AL,S,2/5/08,...,4.160713,37.984366,62.015634,0.0,0.054619
...,...,...,...,...,...,...,...,...,...,...,...
2256,56037,Sweetwater,WY,W,3/8/08,...,4.383050,42.670654,57.329346,0.0,0.008952
2257,56039,Teton,WY,W,3/8/08,...,5.465895,14.914934,85.085066,1.0,0.002022
2258,56041,Uinta,WY,W,3/8/08,...,5.170457,32.132498,67.867502,1.0,0.000989
2259,56043,Washakie,WY,W,3/8/08,...,6.323161,34.040552,65.959448,1.0,0.001023
2260,56045,Weston,WY,W,3/8/08,...,5.249570,33.584337,66.415663,0.0,0.001331

In [34]:
right_child_df= parent_df[parent_df.pct_black06 >= 0.2]
right_child_df

,fips,county_name,state_postal,region,election_date,...,FinancialActivities,GoodsProducing,ServiceProviding,c,pct_black06
2,1005,Barbour,AL,S,2/5/08,...,3.379843,51.275520,48.724480,1.0,0.462710
3,1007,Bibb,AL,S,2/5/08,...,3.477562,42.557099,57.442901,0.0,0.219021
5,1011,Bullock,AL,S,2/5/08,...,3.523767,56.860099,43.139901,1.0,0.698240
6,1013,Butler,AL,S,2/5/08,...,3.390709,32.041909,67.958091,1.0,0.414766
8,1017,Chambers,AL,S,2/5/08,...,2.344602,42.755881,57.244119,1.0,0.378411
...,...,...,...,...,...,...,...,...,...,...,...
2116,51740,Portsmouth,VA,S,2/12/08,...,4.697560,18.229466,81.770534,1.0,0.523284
2118,51760,Richmond City,VA,S,2/12/08,...,8.382545,15.069478,84.930522,1.0,0.542732
2119,51770,Roanoke City,VA,S,2/12/08,...,6.429098,15.132792,84.867208,1.0,0.269464
2122,51800,Suffolk,VA,S,2/12/08,...,3.544776,20.760779,79.239221,1.0,0.411479
2206,55079,Milwaukee,WI,MW,2/19/08,...,8.410672,17.095702,82.904298,1.0,0.259298

In [35]:
def obama_vs_clinton(df):
    obama = (df.c == 1).sum()
    clinton = (df.c == 0).sum()
    if obama > clinton:
        print 'Obama wins these counties {} to {}.'.format(obama, clinton)
    elif clinton > obama:
        print 'Clinton wins these counties {} to {}.'.format(clinton, obama)
    else:
        print 'Obama and Clinton tie in these counties {} {}.'.format(obama, clinton)

In [36]:
obama_vs_clinton(right_child_df)

Obama wins these counties 380 to 70.

### Second cut: Is high school graduation rate higher than 78%?

In [37]:
# TODO
parent_df = left_child_df

In [38]:
left_child_df= parent_df[parent_df.pct_hs_grad <= 0.78]
right_child_df= parent_df[parent_df.pct_hs_grad > 0.78]

In [39]:
obama_vs_clinton(left_child_df)

Clinton wins these counties 714 to 93.

### Third cut: Is high school graduation rate higher than 87%?

In [40]:
# TODO
parent_df = right_child_df
left_child_df= parent_df[parent_df.pct_hs_grad <= 0.87]
right_child_df= parent_df[parent_df.pct_hs_grad > 0.87]

In [41]:
obama_vs_clinton(right_child_df)

Obama wins these counties 176 to 36.

## Part B | Building the 2008 Democratic Primaries Decision Tree by Hand

In [ ]:
class Node:

    @staticmethod
    def root(root_df):
        cs = sorted(set(root_df.c))
        return Node(cs, root_df)

    def decision(self, left_filter):
        # Collect the observations for which the decision split is true and
        # create the corresponding left node

        left_filter = left_filter(self.df)
        left_df = self.df[left_filter]
        self.left = Node(self.cs, left_df)

        # Same thing on the right side but for the observations that don't
        # satisfy the decision split (the "else")

        right_df = self.df.drop(left_df.index)
        self.right = Node(self.cs, right_df)

        # The entropy after the decision split is the weighted average of the
        # children entropy

        self.after = (self.left.samples * self.left.before
                      + self.right.samples * self.right.before) / self.samples

        # The information gain corresponds to the entropy lost between the
        # parent node (this node and the "before") and its child (the "after")

        self.information_gain = self.before - self.after

        return self

    def __init__(self, cs, df):
        self.cs = cs
        self.df = df

        # Counts of the remaining observations in the subspace per classes
        self.counts = [(self.df.c == c).sum() for c in self.cs]

        # Number of observations in the subspace
        self.samples = sum(self.counts)

        # For empty subspaces, probabilties and entropy are set to zero
        if self.samples == 0:
            self.probabilities = [.0 for count in self.counts]
            self.before = .0
        else:
            self.probabilities = [1. * count / self.samples for count in self.counts]
            self.before = - sum(map(lambda p: p * math.log(p, 2),
                                    filter(lambda p : p > .0, self.probabilities)))

    def status(self):
        print 'classes                       =', self.cs
        print 'before:'
        print "\tparent:"
        print "\t\tsamples       =", self.samples
        print "\t\tcounts        =", self.counts
        print "\t\tprobabilities =", self.probabilities
        print "\t\tentropy       =", self.before
        print 'after:'
        print "\tleft child:"
        print "\t\tsamples       =", self.left.samples
        print "\t\tcounts        =", self.left.counts
        print "\t\tprobabilities =", self.left.probabilities
        print "\t\tentropy       =", self.left.before
        print "\tright child:"
        print "\t\tsamples       =", self.right.samples
        print "\t\tcounts        =", self.right.counts
        print "\t\tprobabilities =", self.right.probabilities
        print "\t\tentropy       =", self.right.before
        print
        print 'before entropy                =', self.before
        print 'after entropy                 =', self.after
        print 'information gain              =', self.information_gain

In [ ]:
df.c = df.winner

### First cut

In [ ]:
# TODO

#### Candidate #1: Is a county more than 20% black?

In [ ]:
# TODO

#### Candidate #2: Is high school graduation rate higher than 78%?

In [ ]:
# TODO

#### Candidate #3: Is high school graduation rate higher than 87%?

In [ ]:
# TODO

### Second cut

In [ ]:
# TODO

### Third cut

In [ ]:
# TODO